<div class="game-progress-box">

    <div class="violet">
        <img src="/images/violet_profile.png" />
        <h3>Violet</h3>
        <div class="clearfix"></div>
    </div>

    <div class="hearts">
        <i class="glyphicon glyphicon-heart" ng-repeat="i in scoreRange" ng-class="{active: i < score}"></i>
        <div class="clearfix"></div>
    </div>

    <div class="footer">
        <span class="stat pull-left">
            <i class="glyphicon glyphicon-heart"></i> {{ score }}
        </span>

        <span class="stat pull-left">
            <i class="glyphicon glyphicon-envelope"></i> {{ letter_count }}
        </span>

        <span class="stat pull-right">
            {{ word_count }} <span class="hidden-md">woorden</span>
        </span>
    </div>
    
</div>
