<div class="control-bar center">
    <span>
        <a class="arrow-button" ng-click="prev()"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
        <a class="arrow-button" ng-click="next()"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
    </span>

    <div class="clearfix"></div>
</div>
