<div class="box user-details-box">
    <h3>{{ profile.name }}</h3>
    <p>{{ profile.email }}</p>
    
    <div class="footer">
        <a href class="stat" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Uitloggen</a>
    </div>    
</div>
