<div class="control-bar" ng-show="state.word_count > 0">
    <span class="pull-right">
        <button class="btn btn-primary" ng-click="send()" ng-disabled="!state.acceptable">Opsturen</button>
    </span>

    <div class="stats">
        {{ state.score }}
        <span>{{ state.word_count }} woorden</span>;
        <span>{{ state.bs }}% onzin</span>
        <!--<span>{{ state.grammar_score }}% grammaticaal</span>-->
    </div>
    
    <div class="clearfix"></div>
</div>
