<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="app">
    <head>
        <meta charset="utf-8" />
        <title ng-bind-template="{{title}}"></title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="fragment" content="!" />
        <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="css/app.css" />
	    <base href="/" />
    </head>
    <body ng-controller="AppCtrl">
        <div class="fixedshadow"></div>

        <div class="hidden visible-sm visible-xs">
            <div class="col-xs-8 col-xs-offset-2 box">
                <h4>Dit spel werkt alleen op een groot scherm</h4>
                <p>Maak je scherm groter of probeer het op een desktop PC of tablet.</p>
            </div>

        </div>
        
        <div class="wrapper hidden-sm hidden-xs">
            <div class="container main-content">
                <div ui-view="mainView"></div>
            </div>
            <div class="push"></div>
        </div>
        <script src="/js/vendor.js"></script>
        <script src="/js/templates.js"></script>
        <script src="/js/app.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71565511-1', 'auto');
            ga('send', 'pageview');
        </script>
        
    </body>
</html>
