<div class="disclaimer">
    Let op: wat je speelt is nog een prototype! <br><br>
    Gemaakt door: <a href="http://www.cameleofant.nl/#!hartenjager---prototype/xe1uy">Cameleofant</a> &amp; Arnon Grunberg. Financieel ondersteund door het Gamefonds en het Nederlands Letterenfonds. Vragen? Mail <a href="mailto:info@cameleofant.nl">info@cameleofant.nl</a>.
</div>
