<div class="gamerow row {{ gameState }}">

    <div class="col-md-5">

        <letter-control-bar ng-show="letters.length > 1"></letter-control-bar>

        <div letter-stack>
            <div class="box letter {{ letter.kind }}" ng-repeat="letter in letters">
                <div ng-if="letter.kind != 'media'">
                    <div class="date">{{ letter.created|date }}</div>
                    <div ng-bind-html="letter.html"></div>
                </div>
                <div ng-if="letter.kind == 'media'">
                    <img class="image" ng-src="{{ letterImage(letter) }}" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 center-column">
        
        <div class="middle">

            <button class="btn btn-default nav write" ng-click="clickWrite()" ng-show="profile.status != 'done'">Write</button>
            <button class="btn btn-default nav read" ng-click="clickRead()" ng-show="profile.status != 'done'">Read</button>

            <game-progress-box></game-progress-box>

            <user-details-box></user-details-box>

            <div class="logo"><img src="/images/logo.1.png" /></div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="write" ng-show="profile.status == 'writing'">
            <write-control-bar></write-control-bar>
            <letter-editor text="{{ profile.text }}"></letter-editor>
        </div>

        <div class="write-waiting" ng-show="profile.status == 'waiting'">
            <p>Je hebt een brief verstuurd aan Violet. Je wacht nu met smacht op haar antwoord... Pas wanneer je een brief terug hebt gekregen, kan je haar weer een nieuwe brief schrijven.</p>
        </div>        
    </div>

</div>
