<div class="row">

    <div class="logo"><img src="/images/logo.1.png" /></div>

    <div class="col-sm-7 col-sm-offset-3 dialog-form">
        <h3>Log in om te beginnen</h3>

        <p class="error" ng-show="error">{{ error }}</p>
        
        <form novalidate name="loginForm" ng-submit="login()">

            <div class="form-group">
                <input class="form-control" type="text" ng-model="data.email" required placeholder="E-mail" />
            </div>
            
            <div class="form-group">
                <input class="form-control" type="password" ng-model="data.password" required placeholder="Wachtwoord" />
            </div>

            <div class="form-group buttons">

                <!--
                <div class="pull-right">
                    <a href ui-sref="forgotpw" class="btn btn-link">Forgot password?</a>
                </div> -->
                
                <button class="btn btn-primary">Login</button>
                <a href ui-sref="signup" class="btn btn-default">Nog geen account?</a>
            </div>
            
        </form>
        
    </div>

</div>

<ng-include src="'app/views/disclaimer.html'"></ng-include> 

