<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!">Harten Jagen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!--<li ui-sref-active="active"><a ui-sref="write()">Schrijven</a></li>-->
            </ul>

            <button class="btn btn-default" ng-click="$state.go('game.write')">Write</button>
            <button class="btn btn-default" ng-click="$state.go('game.read')">Read</button>
            <button class="btn btn-default" onclick="rot()">page turn</button>

            <ul class="nav navbar-nav navbar-right" ng-show="profile">
                <li><a href="#" ng-click="logout()">Uitloggen</a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->

    </div><!-- /.navbar -->
</div>
