<div class="row">

    <div class="logo"><img src="/images/logo.1.png" /></div>

    <div class="col-sm-7 col-sm-offset-3 dialog-form">
        <h3>Account aanmaken</h3>

        <p class="error" ng-show="error">{{ error }}</p>

        <form novalidate name="signupForm" ng-submit="signup()">

            <div class="form-group">
                <input class="form-control" type="text" ng-model="data.name" required placeholder="Naam *" />
            </div>

            <div class="form-group">
                <input class="form-control" type="email" ng-model="data.email" required placeholder="E-mail *" />
            </div>
            
            <div class="form-group">
                <input class="form-control" type="password" ng-model="data.password" required placeholder="Password *" />
            </div>

            <div class="form-group buttons">
                <button class="btn btn-primary">Klaar</button>
            </div>
            
        </form>
        
    </div>

</div>

<ng-include src="'app/views/disclaimer.html'"></ng-include> 

