html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 70px 5px 0;
    background: $ocre;
    
    overflow-x: hidden;

    > .fixedshadow {
        position: fixed;
        top: 0; right: 0; left: 0; bottom: 0;
        box-shadow: inset 0 0 160px rgba(0,0,0,0.4);
        z-index: 0;
    }

    > .wrapper {
        position: relative;
        z-index: 1;
    }

}


div.letter-editor {
    @include box;
    background: url(/images/paper1.jpg) white;

    @include handwriting2;

    position: relative;

    min-height: 500px;
    
    > div {
        padding: 60px;
        position: absolute;
        left: 0; top: 0;
        outline: none;

        &.overlay {
            color: rgba(0,0,0,0);
        }
    }

    s {
        text-decoration: none;
        //background: lighten(saturate($ocre, 20%), 10%);
        background: #ff9966;
        text-shadow: 0 0 2px white;
    }
    margin-bottom: 30px;
}

div.control-bar {
    height: 20px;
    margin-top: -20px - $pad2;
    div.stats {
        padding: 7px;
    }
    margin-bottom: $pad2;

    .arrow-button {
        color: darken($ocre, 20%);
        &:active {
            color: $red;
        }
        &:hover { text-decoration: none; }
        font-size: 24px;
        cursor: pointer;
    }
    &.center {
        text-align: center;
    }
}

div.write-waiting {
    border: 3px dashed darken($ocre, 20%);
    color: darken($ocre, 30%);
    padding: $pad2;
    min-height: 600px;
    font-size: 18px;
}

div.box {
    @include box;
}

div.read-control-bar {
    @include box;
}

@mixin checker-hearts($n) {
    &:nth-child(#{$n}n+1) {
        clear: both;
    }
    &:nth-child(#{2*$n}n+1) {
        margin-left: 8px;
    }
}

div.center-column {
    position: relative;
    
    div.middle {
        margin: 0 100px;

        .btn.nav {
            position: absolute;
            width: 75px;
            height: 68px;
            background: none;
            background-size: 75px 68px;
            border: 0;
            outline: none;
            font-size: 0;
            line-height: 0;

            box-shadow: none;
            
            top: 200px;
            &.write {
                background-image: url(/images/schrijven.png);
                background-size: 78px 68px;
                width: 78px;
                right: 0px;
            }
            &.read {
                background-image: url(/images/lezen.png);
                left: 0px;
            }
        }
        
        div.game-progress-box {
            @include box;

            div.violet {
                img {
                    width: 60px; height: 60px;
                    float: left;
                }
                h3 {
                    float: left;
                    padding-left: 10px;
                }
                margin: 20px 40px;
            }

            div.hearts {
                padding-bottom: $pad;
                .glyphicon {
                    float: left;
                    color: #bbb;

                    @include checker-hearts(10);

                    @media (min-width: $screen-lg) {
                        font-size: 16px;
                        margin: 3px;
                    }

                    @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
                        font-size: 12px;
                        margin: 1px;
                    }
                    
                    &.active {
                        color: $red;
                    }
                }
            }
        }

        div.user-details-box {
            h3 { margin: 0 0 $pad 0; }
        }

    }
}

div.logo {
    text-align :center;
    img {
        width: 97px;
        height: auto;
    }
    margin-bottom: 30px;
}


$gamew: 170%;
div.gamerow {
    width: $gamew;
    margin-left: 0%;
    transition: margin-left 600ms ease-in-out;
    
    &.write {
        margin-left: 100% - $gamew;
    }
}

div.disclaimer {
    max-width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    a {
        color: darken($red, 10%);
    }
}