form {
    input {
        border-radius: 0;
    }
}


div.dialog-form {
    @include box;
    padding: 0 $pad2;

    p.error {
        color: $red;
        font-weight: bold;
    }
}

form.ng-dirty, form.ng-submitted {
    input.ng-invalid {
        border-bottom-color: red;
        border-bottom-width: 2px;
        background-color: #ffcccc;
    }
}