$background: url(/images/paper1.jpg) white;
$background-dim: url(/images/paper1a.jpg) white;

@mixin letter {
    background: url(/images/paper1.jpg) white;

    &.received {
        @include handwriting1;
    }
    &.sent {
        @include handwriting2;
    }

    .date {
        float: right;
        font-size: 0.7em;
        margin-top: -25px;
    }

    &.media {
        width: auto;
        img.image {
            max-width: 400px;
        }
    }
    
}


.letter-stack {
    position: relative;

    > .letter { @include letter; }
    
    &.skipanim > .box {
        transition: none;
    }
    

    > .box {

        position: absolute;
        transition: all 400ms ease-out;
        background: $background-dim;
        width: 100%;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.5);

        &:last-child {
            box-shadow: 3px 3px 100px rgba(0,0,0,0.5);
        }
        
        &:nth-child(1) {
            background: $background;
        }

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                z-index: 1000 -$i;
                top: $i * 1px;
                left: $i * 2px;
            }
        }

    }

    $outanim: translate(130%, 0) rotate(-10deg);
    
    &.next {
        > .box { transition: all 400ms ease-in; }
        > .box:nth-child(1) {
            left: 0; 
            transform: $outanim;
            //background: $background-dim;
        }
        > .box:nth-child(2) {
            background: $background;
        }
    }
    &.next-end {
        > .box:last-child {
            left: 0; 
            transform: $outanim;
            background: $background;
        }
    }


    &.prev {
        > .box:last-child {
            left: 0; 
            transform: $outanim;
            background: $background;
        }
    }
    &.prev-end {
        > .box:nth-child(1) {
            left: 0; 
            transform: $outanim;
        }
    }
    
}
