
$red: #E84E33;
$ocre: #CDB24E;
$darkgrey: #333333;

$icon-font-path: '../fonts/';

$border-radius-base: 0;
$input-border-focus: #ccc;

$brand-primary: $red;

$grid-columns: 13;
$grid-gutter-width: 0;

@import "../../node_modules/node-bourbon/assets/stylesheets/bourbon";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"; // Boostrap 3

@mixin handwriting1 {
    font-family: 'Nixie One', cursive;
    font-size: 18px;
    color: black;
    line-height: 1.7;
    padding: 60px;

    p { margin: 0 0 20px 0; }
}

@mixin handwriting2 {
    font-family: 'Cutive Mono', cursive;
    font-size: 18px;
    line-height: 1.3;
    padding: 60px;

    p { margin: 0 0 20px 0; }
}


@mixin box {
    margin-bottom: 30px;
    padding: $pad;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    background: #ffffff;

    div.footer {
        @include clearfix;
        background: $red;
        color: white;
        margin: -$pad;
        margin-top: 0;
        padding: $pad;
        span.stat {
            white-space: nowrap;
            text-transform: uppercase;
            margin-right: $pad;
            font-size: 12px;
            &.pull-right {
                margin-right: 0;
            }
        }
        a { color: white; }
    }
}


$pad: 10px;
$pad2: 2 * $pad;

@import "base.scss";
@import "dialogs";
@import "stack.scss";